<!DOCTYPE html>
<html>
<head>
  <title>show</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	show Header
</div>
<%= yield %>

<p>
<p>
<div class="footer">
	show Footer
</div>
</body>
</html>
